<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">

    <%= f.label :name %><br />
    <%= f.autocomplete_field :name, autocomplete_project_name_projects_path %>
  </div>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :deadline %><br />
    <%= f.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= f.label :user %><br />
    <% User.find(:all).each do |u| %>
    <%= check_box_tag('project_user_id[]', u.id, @project.users.include?(u)) %>
    <%= label_tag(u.id, u.email) %>
    <br />
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <% end %>
