
<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Deadline:</b>
  <%= @project.deadline %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date %>
</p>

<p>
  <b>Users:</b>
  <% @project.users.each do |user| %>
  <p><%= user.email %></p>
  <% end %>
</p>

<div id="task_container">
  <h2>Tasks</h2>
  <div id="tasks">
    <table width = 100%>
      <tr>
        <td>
          <b>Task Name</b>
        </td>
        <td>
          <b>Assigned to</b>
        </td>
        <td>
          <b>Status</b>
        </td>
      </tr>

      <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.name %><br />
        </td>
        <% @user = User.find(task.user_id)%>
        <td>
          <%= @user.email %>
        </td>
        <td>
          <%= task.status %><br />
        </td>
      </tr>
      <% end %>
      <tr id = "task_form">
        <%= form_for([@project, Task.new]) do |f| %>
        <td>
          <%= f.text_field :name, :placeholder => "Task Name" %>
        </td>
        <td>
          <%= select_tag "task_user_id", options_from_collection_for_select(@project.users, "id", "email") %>
        </td>
        <td>
          <%= f.text_field :status, :placeholder => "Status" %>
          <%= f.submit %>
        </td>
        <% end %>
      </tr>
    </table>
  </div>
  <br />

</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
